.venv
__pycache__
.env
.DS_Store
# .gitignore
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.sqlite3
.env
.venv
venv/
ENV/
migrations/
